<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<footer class="section footer-classic context-dark bg-image" style="background: #3E4095;">
        <div class="container">
          <div class="row row-30">
            <div class="col-md-4 col-xl-5">
              <div class="pr-xl-4"><a class="brand" href="index.html"></a>
                <!-- <p>Todos os direitos reservados.</p>-->
                <!-- Rights-->
                <p class="rights"><span>©  </span><span class="copyright-year">2018</span><span> </span><span>Brainlights</span><span>. </span><span>Todos os direitos reservados.</span></p>
              </div>
            </div>
            <div class="col-md-4">
              <h5>Contatos</h5>
              <dl class="contact-list">
                <dt>Endereço:</dt>
                <dd>Av. Dr. João Medeiros Filho, 3419 - Potengi, Natal - RN</dd>
              </dl>
              <dl class="contact-list">
                <dt>E-mail:</dt>
                <dd><a href="mailto:#">brainstormingroosm@gmail.com</a></dd>
              </dl>
              <dl class="contact-list">
                <dt>Telefones:</dt>
                <dd><a href="Fone:#">+55 (84) 99901-0919 </a> <span>or</span> <a href="tel:#"> +55 (84) 99902-0919</a>
                </dd>
              </dl>
            </div>
            <div class="col-md-4 col-xl-3">
              <h5>Links</h5>
              <ul class="nav-list">
                <li><a href="#">Sobre</a></li>
                <li><a href="#">Projetos</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contatos</a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>