  <div class="ui">
    <div class="lists">
        <div class="list" *ngFor="let item of dropzones; let i = index">
          <ul>
            <header>{{classes[i]}}</header>
            <div class="dropzone" appDropzone (drop)="move(currentBox, item)" (remove)="move(currentBox, availableBoxes)">
            <div *ngFor="let box of item" class="box"
                  appDroppable (dragStart)="currentBox = box">
              {{ box }}
              <div class="box" *appDraggableHelper>{{ box }}</div>
              <input type="checkbox">
            </div>
            </div>
          </ul>
          <footer>Teste</footer>
        </div>
    </div>  
</div>
 
<div class="list-r">
    <ul>
      <header>Suas Ideias</header>
      <div *ngFor="let box of availableBoxes" class="box" appDroppable (dragStart)="currentBox = box">
        {{ box }}
        <div class="box box-helper" *appDraggableHelper>{{ box }}</div>
      </div>
    </ul>
    <footer>
      <input class="texto" type="text" #novaideia placeholder="Digite sua ideia">
      <button (click)="Add(novaideia.value)">Enviar ideia</button>
    </footer>
  </div>

  <button (click)="updtateIdeias()">Salvar ideias</button>
