$appbar-height: 40px;
$navbar-height: 50px;
$list-width: 300px;
$gap: 10px;
$scrollbar-thickness: 17px;
$list-header-height: 36px;
$list-footer-height: 36px;
// Misc
$list-border-radius: 5px;
$card-border-radius: 3px;
// Colors
$board-bg-color: #0079bf;
$appbar-bg-color: #0067a3;
$list-bg-color: #e2e4e6;


.box {
  background: #fff;
  border: 1px solid black;
  padding: $gap;
  border-radius: $card-border-radius;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  &:not(:last-child) {
    margin-bottom: $gap;
  }

  &.dragging {
    background: coral;
  }
}

.ui {
  height: 90vh;
  width: 150vh;
  display: grid;
  //grid-template-rows: $appbar-height $navbar-height 1fr;
  //grid-template-columns: 100%;

  background-color: $board-bg-color;
  color: #eee;
}

.dropzone {
  background: lightgray;
  min-height: 200px;
  border: 1px solid black;

  &.dropzone-activated {
    border: 1px solid red;
  }

  &.dropzone-entered {
    background-color: #efefef;
  }
}

.lists {
  display: flex;
  overflow-x: auto;
  //width: 100%; // This is needed for FF < 54
  > * {
    flex: 0 0 auto; // 'rigid' lists
    margin-left: $gap;
  }
  &::after {
    content: '';
    flex: 0 0 $gap;
  }
}

.list-r {
  width: $list-width;
  height: calc(100% - #{$gap} - #{$scrollbar-thickness});
  float: right;
  margin-right: 0%;
  margin-top: -43%;
  > * {
    background-color: $list-bg-color;
    color: #333;

    padding: 0 $gap;
  }

  header {
    line-height: $list-header-height;
    font-size: 16px;
    font-weight: bold;
    border-top-left-radius: $list-border-radius;
    border-top-right-radius: $list-border-radius;
  }

  footer {
    line-height: $list-footer-height;
    border-bottom-left-radius: $list-border-radius;
    border-bottom-right-radius: $list-border-radius;
    color: #888;
  }

  ul {
    list-style: none;
    margin: 0;

    max-height: calc(98% - #{$list-header-height} - #{$list-footer-height});
    overflow-y: auto;

    li {
      background-color: #fff;
      padding: $gap;
      &:not(:last-child) {
        margin-bottom: $gap;
      }

      border-radius: $card-border-radius;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

      img {
        display: block;
        width: calc(100% + 2 * #{$gap});
        margin: -$gap 0 $gap (-$gap);
        border-top-left-radius: $card-border-radius;
        border-top-right-radius: $card-border-radius;
      }
    }
  }
}
.list {
  width: $list-width;
  height: calc(100% - #{$gap} - #{$scrollbar-thickness});
  > * {
    background-color: $list-bg-color;
    color: #333;

    padding: 0 $gap;
  }

  header {
    line-height: $list-header-height;
    font-size: 16px;
    font-weight: bold;
    border-top-left-radius: $list-border-radius;
    border-top-right-radius: $list-border-radius;
  }

  footer {
    line-height: $list-footer-height;
    border-bottom-left-radius: $list-border-radius;
    border-bottom-right-radius: $list-border-radius;
    color: #888;
  }

  ul {
    list-style: none;
    margin: 0;

    max-height: calc(100% - #{$list-header-height} - #{$list-footer-height});
    overflow-y: auto;

    li {
      background-color: #fff;
      padding: $gap;
      &:not(:last-child) {
        margin-bottom: $gap;
      }

      border-radius: $card-border-radius;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

      img {
        display: block;
        width: calc(100% + 2 * #{$gap});
        margin: -$gap 0 $gap (-$gap);
        border-top-left-radius: $card-border-radius;
        border-top-right-radius: $card-border-radius;
      }
    }
  }
}
