<div class="container">
  <div class="jumbotron">
      <div class="row">
          <div class="col-sm">
             
              <div class="menu">
                  <div class="top-lista"><p id="top">SALAS ATIVAS</p></div>
                  
                  <ul class="list-group" *ngFor="let item of salasLink; let i = index">
                          <li class="list-group-item" *ngIf="i % 2 == 0" [routerLink]="['/sala', usuarioLog, salasLink[i+1]]">{{item}}</li>
                  </ul>
              </div>
          </div>
          <div class="col-sm-8 ">
              <div class="foto"><img id="foto" src="../../assets/brainstorming-1-638.jpg"/></div>
              <div class="buton">
                  <button [routerLink]="['/criar-sala', usuarioLog]" type="button" class="btn btn-lg btn-primary">Criar</button>
                  <button routerLink = "../entrar-sala" type="button" class="btn btn-lg btn-primary">Entrar</button>
              </div>
          </div>    
      </div>
  </div>
</div>